<%= form_with(model: cms_slip, local: true) do |form| %>
  <% if cms_slip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cms_slip.errors.count, "error") %> prohibited this slip from being saved:</h2>

      <ul>
      <% cms_slip.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="form-group">
      <label for="cms_slip_content">Content of this Slip</label>
      <%= form.text_area :content, id: :cms_slip_content, class: 'form-control', rows: 3 %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit (action_name == "new") ? 'Create' : 'Update', class: 'btn btn-primary' %>
    <%= link_to 'Back to the list', cms_slips_path, class: 'btn btn-default' %>
  </div>
<% end %>
