<h1>Fortune Slips</h1>

<hr>
<a href="<%= new_cms_slip_path %>" class="btn btn-primary mb-5">Create A Slip</a>

<table class="table">
  <thead>
    <tr>
      <th>#Id</th>
      <th>Content</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cms_slips.each do |cms_slip| %>
      <tr>
        <td><%= cms_slip.id %></td>
        <td><%= truncate cms_slip.content, length: 15 %></td>
        <td><%= cms_slip.created_at %></td>
        <td><%= cms_slip.updated_at %></td>
        <td><%= link_to 'Edit', edit_cms_slip_path(cms_slip) %> | <%= link_to 'Destroy', cms_slip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


