<h1>Detail of Slip #<%= @cms_slip.id %></h1>
<hr>

<table class="table table-striped">
  <tbody>
    <tr>
      <th width="10%"><strong>#ID:</strong></th>
      <td><%= @cms_slip.id %></td>
    </tr>
    <tr>
      <th><strong>Content:</strong></th>
      <td><%= @cms_slip.content %></td>
    </tr>
    <tr>
      <th><strong>Created At:</strong></th>
      <td><%= @cms_slip.created_at %></td>
    </tr>
    <tr>
      <th><strong>Updated At:</strong></th>
      <td><%= @cms_slip.updated_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_cms_slip_path(@cms_slip), class: "btn btn-primary mr-2" %>
<%= link_to 'Back to the list', cms_slips_path %>
