<h1>Cookie Today!</h1>
<div id="slip_content" class="mb-3 mt3" style="display: none; border: solid 1px #ccc; padding: 20px;"></div>
<button id="btn_open_cookie" class="btn btn-primary mb-5">打開一個餅乾</button>


<% content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">
      $(function(){
          Root.init();
      });
  </script>
<% end %>
