<!DOCTYPE html>
<html>
  <head>
    <title>CookieToday</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

    <!-- Javascript -->
    <%= yield :javascript %>
  </body>
</html>
