<!DOCTYPE html>
<html>
  <head>
    <title>CookieToday</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'cms', media: 'all' %>
    <%= javascript_include_tag 'cms' %>
  </head>

  <body>

    <div class="container">
      <% flash.each do |type, msg| %>
        <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show">
          <%= msg %>
          <button class="close" data-dismiss="alert">x</button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
